
<div class="mycontainer">
    <div class="center">
        
        <form [formGroup]="FormPw">
          
            <mat-form-field>
                <mat-label>Enter new password</mat-label>
                <mat-icon matSuffix >lock_open</mat-icon>
                <input matInput type="password" formControlName="password" > 
                <mat-error *ngIf="FormPw.get('password').hasError('required')" style="color: red;">Please enter a new password</mat-error>
              <mat-error *ngIf="FormPw.get('password').hasError('minlength')" style="color: red;">Your password should have at least 6 characters </mat-error>
              


              </mat-form-field>

              <mat-form-field>
                <mat-label>Verify password</mat-label>
                <mat-icon matSuffix >lock_open</mat-icon>
                <input matInput type="password" formControlName="rpassword" > 
                <mat-error *ngIf="FormPw.get('rpassword').hasError('required')" style="color: red;">Please enter your confirmation password</mat-error>
                <mat-error *ngIf="FormPw.get('rpassword').hasError('matchValues')" style="color: red;">Your confirmation password should match your password </mat-error>

              </mat-form-field>
            
          
          <button type="submit" (click)="onSubmit()">Change password</button>
              
          
          
        </form>
      </div>
  </div>